# Python
__pycache__/
*.pyc
*.pyo

# Django
*.sqlite3
db.sqlite3
/staticfiles/
/media/

# Virtual environment
venv/
env/

# IDE files
.idea/
.vscode/

# OS files
.DS_Store

# Secret env files
.env
*.env
